.main {
    background-color: #fafafa;
    padding-top: 25px;

    align-items: flex-start;
}

.feed {
    background-color: white;
    width: 470px;
    margin-right: 10px;

    border-radius: 8px;
    border: 0.5px solid lightgray;
    /* padding: 20px; */
    font-size: 13px;
    padding-bottom: 20px;
}

.profile {
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.profile>p {
    margin-left: 18px;
    margin-right: auto;
}

.profile>p>span:first-child {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: auto;
}

.account {
    width: 320px;
    margin-top: 10px;
    font-size: 14px;
}

.account-content {
    width: 100%;
    margin-left: 50px;
}

.account-content>li {
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.account-content>li>a {
    color: skyblue;
    font-size: 13px;

}

.account-content>li>p {
    margin-left: 20px;
    margin-right: auto;
    align-items: flex-start;
}

.account-content>li>p>span:first-child {
    font-weight: bold;
    color: black;
}

.account-content>li>p>span:last-child {
    color: darkgray;
}

.img-wrap {
    border-radius: 50%;
    overflow: hidden;
    border: 0.5px solid #f2f2f2;
    display: flex;
}

li.suggestion>span {
    color: gray;
}

li.suggestion>a {
    color: black;
}


.about {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.about>a {
    color: lightgray;
    font-size: 11px;
    margin-right: 2px;
}

.name {
    color: lightgray;
    font-size: 11px;
    margin-right: auto;
    margin-left: 20px;
}

.imgs>div>img {
    width: 100%;

}

.feed-icons {
    width: 92%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.feed-icons>img {
    margin-right: 10px;
    cursor: pointer;
}
.feed-icons>img:last-child {
    margin-left: auto;
}

.likes {
    width: 95%;
    margin-right: auto;
    margin-left: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;

}

.comments {
    width: 92%;
    margin-top: 5px;
}

.comments>span.title {
    font-weight: bold;
}

.comments>span.hashtag {
    color: darkblue;
}

.count {
    margin-right: auto;
    margin-left: 20px;
    color: lightgray;

    margin-top: 10px;
    margin-bottom: 10px;
}

.times {
    margin-right: auto;
    margin-left: 20px;
    font-size: 12px;
    color: lightgray;
}

.swiper {
    width: 470px;
}

.swiper-button-prev, .swiper-button-next{
    width:25px;
    color: #fefefe;
    border-radius: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after{
    width:25px;
    color: #fefefe;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}